body {
    background-color: #FFF5E1; 
    color: #5D4037; 
    font-family: 'Lato', sans-serif;
}

.navbar-brand, h1, h2 {
    font-family: 'Pacifico', cursive;
}

.hero-section {
    background-color: #FFC0CB; 
    padding: 80px 0;
}

.btn-primary {
    background-color: #8B4513;
    border-color: #8B4513;
}
.btn-primary:hover{
    background-color: #5D4037
}
.container-fluid{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border: none;
    background-color: #ffffff;
}

.card-img-top {
    border-radius: 0.5rem;
}

footer {
    background-color: #5D4037;
    color: #FFF5E1;
}
