body {
  background-color: #FFF5E1; 
  color: #5D4037; 
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, .brand {
  font-family: 'Pacifico', cursive;
}

.navbar {
  background-color: #8B4513;
  padding: 1rem 2rem;
}

.nav-container {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 2rem;
}

.brand {
  font-size: 1.8rem;
  text-decoration: none;
  color: #FFF5E1;
}

.nav-links {
  list-style: none;
  display: flex;  
}

.nav-links li a {
  text-decoration: none;
  color: #FFF5E1;
  font-weight: bold;
  transition: color 0.3s;
  margin-left: 1.5rem;
}

.nav-links li a:hover,
.nav-links li a.active {
  color: #FFF5E1;
}

.nav-toggle {
  display: none;
  font-size: 1.8rem;
  background: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    margin-top: 1rem;
    background: #FFF5E1;
    padding: 1rem;
    border-radius: 0.5rem;
  }
  .nav-links.show {
    display: flex;
  }
  .nav-toggle {
    display: block;
  }
}

.hero-section {
  background-color: #FFC0CB; 
  padding: 80px 20px;
  text-align: center;
}

.hero-section h1 {
  font-size: 2.5rem;
}

.hero-section p {
  font-size: 1.2rem;
  margin: 1rem 0;
}

.btn {
  background-color: #8B4513;
  color: #FFF5E1;
  padding: 0.7rem 1.5rem;
  text-decoration: none;
  border-radius: 0.5rem;
  display: inline-block;
  font-weight: bold;
  transition: background 0.3s;
}

.btn:hover {
  background-color: #5D4037;
}

.btn-center{
  padding: 2rem;
}

.products-section {
  padding: 3rem 1rem;
  text-align: center;
}

.products-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-top: 2rem;
}

.card {
  border: none;
  background-color: #ffffff;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  text-align: center;
  
}

.card img {
  border-radius: 0.5rem;
  width: 200;
  height: 250;
  margin-bottom: 2rem;
  object-fit: cover;

}

.price {
  font-weight: bold;
  color: #8B4513;
  margin: 0.5rem 0;
}

.promotions {
  background-color: #f8e6d0;
  padding: 3rem 1rem;
  text-align: center;
}

.promotions-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-top: 2rem;
}

.promo-card {
  background: #fff;
  border-radius: 0.5rem;
  padding: 2rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.community-section {
  padding: 3rem 1rem;
  text-align: center;
}

footer {
  background-color: #5D4037;
  color: #FFF5E1;
  text-align: center;
  padding: 1rem;
}